a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
}

a:hover {
    background-color: #0056b3;
}

.memoriasTabela{
    display:flex;
    margin: 20px;
    font-size: 16px;
    gap: 2rem;
}

.memoriasGraficos{
    margin: 20px;
    font-size: 16px;
}

.page_temp {
    display: grid;
    grid-template-columns: 550px 550px;
    gap: 10px;
}

table, th td {
    padding: 5px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #dbdbdb;
}

.linhaGrafico{
    margin: 20px;
}