<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="algoritmo"><div class="nome">{{ nome }}</div><div class="pagemiss">{{ pageMiss }}</div><div class="tempo">{{ tempo }}</div><div class="memAntiga">{{ memAntiga | safe }}</div><div class="proximaPage">{{ pagina }}</div><div class="memNova">{{ memNova | safe }}</div></div>
    <button>{{ passo }}</button>
</body>
</html>