<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="algoritmo">
        <div class="nome">Algoritmo {{ nome }}</div>
        <div class="pagemiss">Númeor de Page Miss: {{ pageMiss }}</div>
        <div class="tempo">Tempo de Substituição: {{ tempo }}</div>
        <div class="memorias">
            <div class="memAntiga">
                {{ memAntiga | safe }}
            </div>
            <div class="proximaPage">
                Página Colocada{{ pagina }}
            </div>
            <div class="memNova">
                {{ memNova | safe }}
            </div>
        </div>
    </div>
    <button>{{ passo }}</button>
</body>
</html>