<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMU - Resultado</title>
</head>
<body>
    {% for item in data %}
        {% for key,dado in item.items %}
            {% if key == 'size' %}
                <h1>Memória de {{ dado }}% da SWAP</h1>
            {% else %}
                <h3>Algoritmo {{ key }}</h3>
                <h5>Número de Page Miss: {{ dado.PageMiss }}</h5>
                <h5>Tempo de Substituiçao: {{ dado.TempSubs }}s</h5>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <a href="{% url 'home' %}">Voltar</a>
</body>
</html>