<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMU - Resultado</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/resultado.css">
    
</head>
<body>
    <div class="container">
        {% if tabela %}
            <div class="memoriasTabela">
                {% for key, item in resultado.items %}
                    {% if key != 'graphs' %}
                        <div class="tabela">
                            <h1>Memória de {{ key }}% da SWAP</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Algoritmo</th>
                                        <th>Número de Page Miss</th>
                                        <th>Tempo de Substituição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for chave, dado in item.items %}
                                        <tr>
                                            <td>
                                                {{ chave }}
                                            </td>
                                            <td>
                                                {{ dado.PageMiss }}
                                            </td>
                                            <td>
                                                {{ dado.TempSubs |floatformat:6 }}s
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if graficos %}
            <div class="memoriasGraficos">
                {% for key, item in resultado.graphs.items %}
                    <div class="graficos">
                        <h1>Memória de {{ key }}% da SWAP</h1>
                        <div class="page_temp">
                            {% for grafico in item.values %}
                                <div class="grafico">{{ grafico | safe }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <a href="{% url 'home' %}">Voltar</a>
</body>
</html>